@import "tailwindcss";
.fresh-gradient {
  background-color: rgb(134, 239, 172);
  background-image: linear-gradient(
    to right bottom,
    rgb(219, 234, 254),
    rgb(187, 247, 208),
    rgb(254, 249, 195)
  );
}

@font-face {
  font-family: "MC";
  src: url("/fonts/MinecraftRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MC";
  src: url("/fonts/MinecraftItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "MC";
  src: url("/fonts/MinecraftBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MC";
  src: url("/fonts/MinecraftBoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}


@theme {
  --font-display: "MC", sans-serif;
}
